@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  background-color: #0b0f14;
}

:root {
  --main: #276fc2;
  --hover: #3987e3;
}

.loadingBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin-left: -7px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.spinner {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 6px solid #1d1e27;
  border-top: 6px solid var(--main);
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.website {
  opacity: 1;
}
